.container {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    text-align: center;
}

.title {
    margin: 0 0 18px;
    font-size: 28px;

}

.form {
    display: grid;
    gap: 14px;
    text-align: center;
}

.form input:focus{
    outline: none;
    border-color: #4c6fff;
}

.btn {
    width: 60%;
    margin: 10px auto 0;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    background: #111;
    color: white;
    border: none;
    transition: 0.2s;
}

.btn:hover {
    color: #4c6fff;
}

.msg {
    margin-top: 12px;
    opacity: 0.95;
}
