.container {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    text-align: center;
}

.title {
    margin: 0 0 18px;
    font-size: 34px;

}

.form {
    display: grid;
    gap: 16px;
    text-align: center;
}

.form input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
}

.form button {
    width: 60%;
    margin: 10px auto 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
.form button:hover {
    color: #4c6fff;
}

.msg {
    margin-top: 12px;
    opacity: 0.95;
}
