#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: initial;
}
.read-the-docs {
  color: #888;
}


.page-shell {
  min-height: calc(100vh - 64px); /* ako ti navbar ~64px */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
}

.page-card {
  width: 100%;
  max-width: 600px;
  background: rgba(30, 30, 30, 0.75);
  border: 1px solid rgba(255,255,255,0.06);
  border-radius: 16px;
  padding: 36px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.55);
  backdrop-filter: blur(8px);
}

.login-card {
  width: 100%;
  max-width: 420px;
  background: rgba(30,30,30,0.75);
  border-radius: 16px;
  padding: 28px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.55);
}